<div class="container-fluid myBg1" style="height:auto;">
        <div class="container sectionHeight">
            <div class="row" style="padding-left:5px;">
                <h3 class="jumbotron">Bienvenido a nuestro chat: {{user}}</h3>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h2 class="myTextColor4">Nosotros</h2>
                    <p class="myTextColor4" tyle="padding:30px 0px 30px 30px;">
                        <i>
                            El ministerio Roca de Salvaci&oacute;n surgi&oacute; en 1995 luego de aceptar al se&ntilde;or
                            Jes&uacute;s en la  vida de Frank Pe&ntilde;a, a lo que luego se sum&oacute; su esposa Rosa Emilia Pelaez,
                            conocida por muchos cari&ntilde;osamente como Toty. Luego tuvieron dos hermosas hijas las cuales luego de una
                            formaci&oacute;n musical decidieron acompan&ntilde;ar a sus padres en este camino en el cual se ministran las almas y
                            se exalta al Se&ntilde;or.
                        </i>
                    </p>
                    <md-button class="md-raised md-primary" ng-click="home()"><span class="glyphicon glyphicon-arrow-left"></span> Volver al Inicio</md-button>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"    >
                    <img src="../../../Content/images/IMG-20170425-WA0039.jpg" class="img-responsive img-rounded portada" />
                </div>
        </div>
    </div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58ed5158f7bbaa72709c5c49/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->