<div class="container" ng-init="showHints = false">
    <h3 class="jumbotron animateShow">Recuperar contrase&ntilde;a</h3>
    <div class="myForm animateShow">
        <div class="text-center">
            <img src="../../../Content/images/icons/Password Recovery Icon.png" />
        </div>
        <form name="userFormPassword">
            <md-input-container class="md-block" flex-gt-sm="">
                <label>Por favor escriba su correo</label>
                <md-icon md-svg-src="../../Content/images/icons/ic_lock_outline_black_24px.svg" class="name"></md-icon>
                <input type="email" name="email" placeholder="Correo" ng-model="recovery.email" required="" />

                <div class="hint" ng-if="!showHints">Correo con el que se inscribi&oacute; en la p&aacute;gina</div>

                <div ng-messages="userFormPassword.email.$error" ng-if="showHints">
                    <div ng-message="required">Es obligatorio escribir el correo para recuperar su contrase&ntilde;a.</div>
                </div>
                <div style="text-align:right">
                    <md-button class="md-raised md-primary" style="width:200px;"
                               ng-disabled="userFormPassword.$invalid"
                               ng-click="recovery()">Recuperar contrase&ntilde;a</md-button>
                    <md-button class="md-raised md-primary" style="width:200px;"
                               ng-click="home()"><span class="glyphicon glyphicon-arrow-left"></span> Cancelar</md-button>
                </div>
            </md-input-container>
            </form>
</div>
    </div>





