<div class="container-fluid">
    <div class="container personalContainer">
        
        <div class="text-center">
            <h2 class="jumbotron">Seguro que desea salir?</h2>
        </div>
        <div class="text-center">
            <h4>Si sale perder&aacute; acceso a varias opciones del sitio.</h4>
        </div>
        <div class="text-center">
            <md-button style="width:110px;" class="md-raised md-primary" type="submit" data-ng-click="logOut()">Salir | <span class="glyphicon glyphicon-log-out" style="font-size:initial;"></span></md-button>
            <md-button style="width:110px;" class="md-raised md-primary" type="submit" ng-click="home()"><span class="glyphicon glyphicon-arrow-left"></span> Cancelar</md-button>
        </div>
    </div>
</div>

