<div class="container personalContainer">
    <h2 class="jumbotron">Usuarios</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-4 colmd-4 col-lg-4">
                <md-button class="md-raised md-primary" ng-click="home()"><span class="glyphicon glyphicon-arrow-left"></span> Volver al inicio</md-button>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="table-responsive">
                    <table class="table table-hover" style="position:center;" st-table="r" st-safe-src="roles">
                        <tr id="search">
                            <th colspan="3">
                                <input st-search placeholder="B&uacute;squeda" class="input-sm form-control" type="search" />
                            </th>
                        </tr>
                        <thead style="background-color:rgb(63,81,181);color:white;">
                            <tr>
                                <th></th>
                                <th class="myCursor" st-sort="user">Usuario</th>
                                <th class="myCursor" st-sort="rol">Rol</th>
                                <th> Acciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" st-select-mode="multiple" ng-repeat="role in r">
                                <td></td>
                                <td>{{role.username}}</td>
                                <td>{{role.role}}</td>
                                <td>
                                    <md-button class="md-primary md-raised myResponsiveText" ng-click="openEditUser($event, $index)">
                                        Editar <span class="glyphicon glyphicon-pencil"></span>
                                    </md-button>
                                </td>
                                <td>
                                    <md-button class="md-primary md-raised myResponsiveText" ng-click="showDelete($event,role.userId,$index)">
                                        Eliminar <span class="glyphicon glyphicon-minus"></span>
                                    </md-button>
                                </td>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>
