<div class="container-fluid myBg2 sectionHeight">
    <div class="container">
        <div>
            <h3 class="jumbotron">Galer&iacute;a</h3>
        </div>
        <hr />
        <div>
            <md-button ng-click="home()" class="md-raised md-primary"><span class="glyphicon glyphicon-arrow-left"></span> | Volver al inicio</md-button>
        </div>
        <div ng-repeat="image in images" class="inline">
            <div>
                <a data-fancybox="gallery"  ng-href="{{base+image.fileName}}"> <!--ng-click="openImage($index,$event)"-->
                    <img class="galleryImages img-responsive" ng-src="{{base+image.fileName}}" />
                </a>
            </div>
        </div>
        <hr />
        
    </div>
</div>
